<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <form name="searchForm">
        <label class="item item-input">
          <span class="icon ion-search placeholder-icon"></span>
          <input type="search"
            ng-model="searchCtrl.searchTerm"
            ng-value="type"
            required />
        </label>
        <a  ng-click="searchCtrl.search()"
            ng-disabled="searchForm.$invalid"
            class="button button-royal button-block ">
          Buscar
        </a>
      </form>

      <ion-list can-swipe="false">
        <ion-item
          collection-repeat="place in searchCtrl.searchResults"
          href="#"
          class="item item-thumbnail-left" >

          <img ng-src="{{place.thumbnailUrl}}"/>
          <h2 style="vertical-align:middle">{{place.name}}</h2>

        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
